<div class="row">
  {{#if data.item}}
    <section class="main col-md-9">
      <item>
        <div class="row">
          <div class="col-4">
            <h2>{{data.item.title}}</h2>
            <img
              src="{{data.item.featureImage}}"
              alt="feature Image"
              style="width:100%"
            />
          </div>
          <div class="col-8"><br />
            <br />
            <div class="row">
              <div class="col-12">
                 <h2>Description:</h2>
                  {{data.item.body}}

                <br /><br />
                <h2>Price:</h2>
                $ {{data.item.price}}<br />
                <h2>Category:</h2>
                {{data.item.category}}<br />
                <h2>Last Updated:</h2>
                {{data.item.postDate}}
              </div>
            </div>
          </div>
        </div>
      </item>
    </section>
  {{else}}
    <div class="col-md-12 text-center">
    <h2>{{data.message}}</h2>
    <p>Please try another item / Category</p>
</div>

  {{/if}}

  <aside class="col-md-3">
    <br /><br />
    {{#if data.items}}
      <h4>Items</h4>
      <ul class="list-group">
        {{#each data.items}}
          <a href="/shop/{{id}}?category={{../viewingCategory}}" class="list-group-item">{{title}}</a>
        {{/each}}
      </ul>
    {{/if}}

    {{#if data.categories}}
      <h4>Categories</h4>
      <ul class="list-group">
        {{#each data.categories}}
          <a href="/shop?category={{id}}" class="list-group-item">{{category}}</a>
        {{/each}}
      </ul>
    {{/if}}
  </aside>
</div>
